<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">
    <h2>Login</h2>

    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <a href="/signup">Signup</a>
</div>

</body>
</html>
